        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{active_link['dashboard']}}" href="{{ url_for('dashboard') }}" ><i class="fas fa-fw fa-user-circle pb-icon"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{active_link['call_list']}}" href="{{ url_for('call_list') }}" ><i class="fas fa-fw fa-list-ul pb-icon"></i>Call List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{active_link['hospital_list']}}" href="{{ url_for('hospital_list') }}" ><i class="fas fa-fw fa-hospital-alt pb-icon"></i>Hospital List</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->