{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">One Week Chart</h4>
            </div>
            <div class="card-body">
                <div id="morris_bar"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Untreated and Inprogress Case</h4>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for c in call %}
                        <a href="{{ url_for('response', id=c['id']) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Kasus {{ c['id'] }}</h5>
                                <small class="text-muted">{{ c['time_placed'].strftime("%d %b %Y. %H:%M") }}</small>
                            </div>
                            <p class="mb-1">{{ c['message'] }}</p>
                            {% if c['status'] == 0 %}
                                <small class="text-danger">Untreated</small>
                            {% else %}
                                <small class="text-warning">Inprogress</small>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{{url_for('static', filename='vendor/charts/morris-bundle/raphael.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/charts/morris-bundle/morris.js')}}"></script>
<script src="{{url_for('static', filename='vendor/charts/morris-bundle/Morrisjs.js')}}"></script>
{% endblock %}