{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<style>
    #mapid {
        height: 480px;
    }
</style>
{% endblock %}

{% block content %}

<!-- Caller Information Start -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">Caller Information</h3>
    </div>
    <div class="card-body">
        <div id="response-info">
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Status
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {% if call['status'] == 0 %}
                    <td><span class="badge-dot badge-danger mr-2"></span>Untreated</td>
                    {% elif call['status'] == 1 %}
                    <td><span class="badge-dot badge-warning mr-2"></span>Inprogress</td>
                    {% else %}
                    <td><span class="badge-dot badge-success mr-2"></span>Resolved</td>
                    {% endif %}
                </div>
            </div>
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Call ID
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {{ call['id'] }}
                </div>
            </div>
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Phone Number
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {{ call['phone_num'] }}
                </div>
            </div>
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Coordinates
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {{call['latitude']}}, {{ call['longitude'] }}
                </div>
            </div>
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Message
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {{ call['message'] }}
                </div>
            </div>
            {% if call['status'] == 2 %}
            <div class="row no-gutters mb-3">
                <div class="col-2">
                    Hospital
                </div>
                <div class="col-1">
                    :
                </div>
                <div class="col-12 col-lg-3">
                    {{ call['destination']['name'] }}
                </div>
            </div>
            {% endif %}
            <div class="row no-gutters my-4">
                {% if call['status'] == 0 %}
                <div class="col">
                    <a href="{{url_for('response_action', id=call['id'])}}" class="btn btn-primary">Response</a>
                </div>
                {% elif call['status'] == 1 %}
                <div class="col">
                    <a href="" class="btn btn-brand" data-toggle="modal" data-target="#exampleModal">Resolved</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Caller Information End -->

<!-- Maps Start -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">Maps</h3>
    </div>
    <div class="card-body">
        <div id="mapid">

        </div>
    </div>
</div>
<!-- Maps End -->

<!-- Nearby Hospital Start -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">Nearby Hospital</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col" style="width:40%">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Distance</th>
                </tr>
            </thead>
            <tbody>
                {% for hospital in hospitals %}
                <tr>
                    <th scope="row">{{ hospital[0] }}</th>
                    <td>{{ hospital[1][0] }}</td>
                    <td>{{ hospital[1][1] }}</td>
                    <td>{{ hospital[1][2] }}</td>
                    <td>{{ hospital[1][3] }} km</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Resolve Case</h5>
                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-select">Example Select</label>
                            <select class="form-control" id="hospital">
                                {% for hospital in hospitals%}
                                <option value="{{ hospital[1][-3] }}">{{ hospital[1][0] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <button class="btn btn-primary text-white" id="submit_resolve">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Nearby Hospital End -->
{% endblock %}

{% block script %}
<script>
    submit = document.getElementById("submit_resolve").addEventListener("click", function () {
        hosp = document.getElementById('hospital').value;
        call_id = '{{call['id']}}';
        path = "{{ url_for('resolve_action')}}" +"?call_id="+call_id+"&hosp="+hosp;
        window.location.replace(path);
    });
</script>
<script>
    lat = {{ call['latitude'] }};
    long = {{ call['longitude'] }}
    var mymap = L.map('mapid').setView([lat, long], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);


    L.marker([lat, long]).addTo(mymap)
        .bindPopup('Estimation location of the call')
        .openPopup();

    var myIcon = L.icon({
        iconUrl: "{{ url_for('static', filename='images/hospital-icon.png') }}",
        iconSize: [30, 30],
    });
    {% for hospital in hospitals %}
        L.marker([{{ hospital[1][-1] }}, {{ hospital[1][-2] }}], { icon: myIcon }).addTo(mymap).bindPopup('{{ hospital[1][0] }}');
    {% endfor %}

    
</script>
{% endblock %}